/* header & nav */
.container {
  margin: 0 auto;
  width: 800px;
  }

.spacer {
  float: left;
  width: 100%;
  height: 50px;
  }

h1{
  font-family: "arial", sans-serif;
  font-size: 50px;
}

header {
    width: 50%;
    float: left;
}

.about {
    padding-top:70px;
    width: 17%;
    float: right;
    font-family: "arial", sans-serif;
    font-size: 18px;
}

.portfolio {
    padding-top:70px;
    width: 17%;
    float: right;
    font-family: "arial", sans-serif;
    font-size: 18px;
}

/* image & bio */

.intro {
  float: left;
  width: 100%;
}


.bundles {
    float: left;
    width: 50%;
    font-family: "arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.framed {
    float: right;
    width: 50%;
    font-family: "arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.clrly {
    float: left;
    width: 50%;
    font-family: "arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.ggmg {
    float: right;
    width: 50%;
    font-family: "arial", sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.portfolio_images {
  width: 370px;
  margin-top: 35px;

}

p {
  font-family: "arial", sans-serif;
  font-size: 17px;
  padding-top: 0;
  font-weight: normal;
}

.image {
  float: left;
  width: 50%;
}

.bio {
  float: right;
  width: 50%;
  padding-top: 100px;
}

h2 {
  font-family: "arial", sans-serif;
}

/* footer */

footer {
  float: left;
  width: 100%;
}

.sm_icon_container {
  margin: 0 auto;
  width: 300px;
}

.social_media_icons {
  width: 50px;
  height: 50px;
  border: 0;
  margin: 5px;
}


.clearfix {
  clear: both;
}
